.login {
  padding: 40px;
}
.login-group {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
.login-btn {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.login-btn__google {
  margin-right: 10px;
  background-color: #d34836;
}
.login-btn__fb {
  background-color: #1877f2;
}
